# VOID_AGENT_MCP_READONLY_HTTP_ENV_V1
VOID_MCP_REPO_ROOT="@CURRENT_RELEASE@"
VOID_MCP_BASE_URL="http://127.0.0.1:4112"
VOID_MCP_HTTP_HOST="127.0.0.1"
VOID_MCP_HTTP_PORT="4114"
VOID_MCP_HTTP_ALLOWED_HOSTS="127.0.0.1,localhost"
VOID_MCP_HTTP_ALLOWED_ORIGINS="127.0.0.1,localhost"
VOID_MCP_HTTP_MAX_REQUEST_BYTES="65536"
VOID_MCP_HTTP_MAX_CONCURRENT_REQUESTS="8"
VOID_MCP_TIMEOUT_MS="10000"
VOID_MCP_MAX_RESPONSE_BYTES="1048576"
