[Unit]
Description=Run proposer auto-brake every 15s
[Timer]
OnBootSec=15s
OnUnitActiveSec=15s
Unit=void-proposer-autobrake.service
[Install]
WantedBy=default.target
